<div class="mouse-counter @(CounterId?.i == 0 ? "narrow" : string.Empty)"
    @onpointerover="()=>pointerOver++" @onpointerover:stopPropagation
    @onpointerout="()=>pointerOut++" @onpointerout:stopPropagation
    >
    <div><strong>Id: @CounterId?.i</strong></div>
    Over: @pointerOver / Out: @pointerOut<br />
    Render: @render
</div>

@code {
    // https://github.com/dotnet/aspnetcore/issues/13104
    // https://github.com/dotnet/aspnetcore/issues/17552
    // !!! https://developer.mozilla.org/en-US/docs/Web/API/Element/mouseover_event
    private int pointerOver;
    private int pointerOut;
    private int render;
    [Parameter]
    public Param? CounterId { get; set; }
    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);
        render++;
    }
}
